<div class="container mt-3">
  <h1>Create a new list</h1>

  <%= simple_form_for @list do |f| %>
    <%= f.input :name %>
    <%= f.submit "Create List", class: "btn btn-primary" %>
  <% end %>

  <%= link_to "Back to lists", lists_path, class: "btn btn-secondary mt-3" %>
</div>
